@use "~src/assets/styles/vars";
@use "~src/assets/styles/fonts";
@use "~src/assets/styles/buttons";

.slide {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(
      0deg,
      rgba(var(--dark-color-rgb), 0.8) 0%,
      rgba(var(--dark-color-rgb), 0.75) 15.83%,
      rgba(var(--dark-color-rgb), 0.5) 38.27%,
      rgba(var(--dark-color-rgb), 0) 58%
    );
  }

  &__container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 40px 20px 40px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;

    @media screen and (max-width: vars.$screen-sm) {
      padding: 20px;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  &__title {
    @include fonts.font-bold;

    white-space: nowrap;
    text-overflow: "";
    color: var(--light-color);
    text-transform: uppercase;
    text-align: left;
    font-size: min(calc(12px + 1.2vw), 30px);
    width: 100%;

    @media screen and (max-width: vars.$screen-sm) {
      font-size: 26px;
      white-space: pre-wrap;
    }
  }

  &__subtitle {
    @include fonts.font-light;

    white-space: nowrap;
    text-overflow: "";
    color: var(--descriptions-color);
    text-align: left;
    font-size: min(calc(8px + 0.8vw), 24px);
    padding-bottom: 12px;

    @media screen and (max-width: vars.$screen-sm) {
      padding-bottom: 6px;
      font-size: 16px;
    }
  }

  &__button {
    white-space: nowrap;

    @media screen and (max-width: vars.$screen-sm) {
      &-group {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
      }

      min-height: 44px;
      min-width: 44px;
      font-size: 14px;
      padding: 4px 24px !important;
    }
  }
}
