<section [sidebar]="false" page-wrapper>
  <div class="content">
    <player
      [poster]="movie.background + '?w=1024' || ''"
      [src]="movie.source || ''"
      class="content__container player-container"
    ></player>

    <content-cover [content]="movie" class="content__container info-container title-regular-1"></content-cover>

    <ng-container *ngFor="let playlist of playlists">
      <div class="content__container common-container">
        <h1 class="content__title title-bold-4">{{playlist.title}}</h1>
        <card-view [cards]="playlist.items" class="content__cards"></card-view>
      </div>
    </ng-container>
  </div>
</section>
