<section page-wrapper [sidebar]="false">
  <div class="content">
    <player
      class="content__container player-container"
      [poster]="movie.background || ''"
      [src]="movie.hls || ''"
    ></player>

    <content-cover
      class="content__container info-container title-regular-1"
      [media]="movie"
    ></content-cover>

    <div class="content__container common-container">
      <h1 class="content__title title-bold-4">You might like</h1>

      <div class="content__cards" scroll-view>
        <ng-container *ngFor="let card of recommendations">
          <card [title]="card.title" [src]="card.image" [controls]="false"></card>
        </ng-container>
      </div>
    </div>
  </div>
</section>
