<div class="card__wrapper">
  <div class="card unselectable" (click)="onCardClick()">
    <img *ngIf="src" class="card__image" [src]="src" lazy-image alt="card" />
    <div class="card__content">
      <ng-container *ngIf="controls">
        <card-button>
          <icon [name]="icon.ADD_STROKE"></icon>
        </card-button>
        <card-button variant="contrast" (click)="onClickWatchButton()">
          <icon [name]="icon.SHOW"></icon>
        </card-button>
      </ng-container>
    </div>
  </div>
  <div class="card__title title-light-1">{{ title }}</div>
</div>
