<div class="card" (click)="onCardClick()">
  <img *ngIf="src" class="card__image" [src]="src" lazy-image alt="card" />
  <div class="card__content">
    <div class="card__title title-regular-1">{{ title }}</div>

    <div class="card__group">
      <div *ngIf="controls" class="card__btn-group">
        <button class="card__btn btn btn--short btn--secondary">
          <icon [name]="icon.ADD_STROKE"></icon>
        </button>
        <button class="card__btn btn btn--contrast" (click)="onClickWatchButton()">Watch</button>
      </div>
    </div>
  </div>
</div>
