@use "~src/assets/styles/vars";

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 185px;
  aspect-ratio: 2 / 2.8;

  background: var(--second-color);
  border-radius: vars.$border-radius-sm;
  overflow: hidden;

  &.selected {
    border: 2px solid var(--contrast-color);
  }

  &__wrapper {
    width: 185px;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    gap: 4px;

    &:hover {
      background-color: rgba(var(--second-color-rgb), 0.5);
      transition: background-color 0.2s ease-in-out;
    }
  }

  &__title {
    color: var(--title-color);
    padding: 8px 0 0 4px;
    cursor: pointer;

    &:hover {
      color: rgba(var(--title-color-rgb), 0.5);
      transition: color 0.2s ease-in-out;
    }
  }
}

@media screen and (max-width: vars.$screen-sm) {
  .card {
    width: 180px;
  }
}
