<nav
  class="nav-bar title-semi-bold-1"
  [class.nav-bar--short]="!isLargeBar"
  [class.nav-bar--open]="isOpenBar"
>
  <header class="nav-bar__header">
    <a [href]="homePath" class="nav-bar__logo title-bold-4">
      {{ isLargeBar ? appInfo.name : appInfo.shortName }}
    </a>

    <div class="nav-bar__controls nav-bar__size-control">
      <ng-template [ngIf]="isLargeBar" [ngIfElse]="shortTypeControl">
        <div class="nav-bar__control" (click)="onClickSizeControl(navbarSizes.SMALL)">
          <icon [name]="icons.LEFT_ARROW_1"></icon>
        </div>
      </ng-template>

      <ng-template #shortTypeControl>
        <div class="nav-bar__control" (click)="onClickSizeControl(navbarSizes.BIG)">
          <icon [name]="icons.RIGHT_ARROW_1"></icon>
        </div>
      </ng-template>
    </div>

    <div class="nav-bar__controls nav-bar__visibility-control" (click)="onClickVisibilityControl()">
      <div class="nav-bar__control"></div>
    </div>
  </header>

  <!--Navbar categories-->
  <div class="nav-bar__categories">
    <ng-container *ngFor="let group of itemGroups; let last = last">
      <div class="nav-bar__category" [class.nav-bar__category--last]="last">
        <div class="nav-bar__category-title">{{ group[0].category.name }}</div>

        <!--Navbar items-->
        <div class="nav-bar__category-items">
          <ng-container *ngFor="let item of group">
            <ng-template
              [ngIf]="item.global || (!item.global && item.auth === (authorized$ | async))"
            >
              <div class="nav-bar__item" (click)="onClickItem(item)">
                <div class="nav-bar__item-icon" icon [name]="item.icon"></div>
                <div class="nav-bar__item-title">{{ item.title }}</div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
