<nav
  [class.nav-bar--open]='isOpenBar'
  [class.nav-bar--short]='!isLargeBar'
  class='nav-bar title-semi-bold-1'
>
  <header class='nav-bar__header'>
    <navbar-logo
      [href]='homePath'
      [image]='appInfo.logo'
      [text]='appInfo.name'
      [variant]="isLargeBar || isOpenBar ? 'text' : 'image'"
    ></navbar-logo>

    <size-control
      (resize)='onResize($event)'
      [navbarSize]='navbarSize'
      class='nav-bar__size-control'
    ></size-control>

    <div (click)='onClickVisibilityControl()' class='nav-bar__controls nav-bar__visibility-control'>
      <div class='nav-bar__control'></div>
    </div>
  </header>

  <!--Navbar categories-->
  <div class='nav-bar__categories'>
    <ng-container *ngFor='let group of itemGroups; let last = last'>
      <div [class.nav-bar__category--last]='last' class='nav-bar__category'>
        <div class='nav-bar__category-title'>{{ group[0].category.name }}</div>

        <!--Navbar items-->
        <div class='nav-bar__category-items'>
          <ng-container *ngFor='let item of group'>
            <ng-template
              [ngIf]='item.global || (!item.global && item.auth === (authorized$ | async))'
            >
              <div (click)='onClickItem(item)' class='nav-bar__item'>
                <div [name]='item.icon' class='nav-bar__item-icon' icon></div>
                <div class='nav-bar__item-title'>{{ item.title }}</div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
