<div class="promo-banner">
  <div class="promo-banner__content">
    <article>
      <header class="promo-banner__header title-bold-5">{{title}}</header>
      <main class="promo-banner__body title-regular-1">
        Are you not using all the features of the service? 😱<br />
        By creating an account you can

        <ul class="promo-banner__bullets">
          <li class="promo-banner__bullet">create content viewing lists</li>
          <li class="promo-banner__bullet">continue viewing content on any device</li>
        </ul>
      </main>
    </article>

    <button (click)="onClick()" class="btn btn--contrast">{{btnName}}</button>
  </div>
</div>
