<section>
  <header class="auth-page__title-container">
    <div class="auth-page__subtitle title-bold-2">Welcome back</div>
    <div class="auth-page__title title-bold-7">Sign in to account</div>
  </header>

  <form class="form" [formGroup]="authForm">
    <div class="form__control" text-field>
      <input type="email" placeholder="Email" formControlName="email" textFieldRef />
    </div>

    <div class="form__control" [type]="textFieldType.PASSWORD" text-field>
      <input type="password" formControlName="password" placeholder="Password" textFieldRef />
    </div>
    <div class="form__control form__container f-end">
      <a [routerLink]="forgotPasswordPath" class="form__link title-regular-1">Forgot password?</a>
    </div>

    <div class="form__container">
      <button type="submit" class="form__btn btn btn--contrast" (click)="onSubmit()">
        Sign in
      </button>
    </div>
  </form>

  <div class="form__container form__container--info title-regular-1">
    <div>
      <span style="padding-right: 10px">Do you have no account?</span>
      <a [routerLink]="signUpPath" class="form__link">Sign up</a>
    </div>
  </div>
</section>
