<section>
  <header class="auth-page__title-container">
    <div class="auth-page__subtitle title-bold-2">Ohh...</div>
    <div class="auth-page__title title-bold-7">Forgot password?</div>
  </header>

  <form
    class="form"
    [class.form--loading]="isLoading$ | async"
    [formGroup]="authForm"
    (ngSubmit)="onSubmit($event)"
  >
    <div class="form__control" [error]="emailError" text-field>
      <input type="email" placeholder="Email" formControlName="email" textFieldRef />
    </div>

    <div class="form__container">
      <button type="submit" class="form__btn btn btn--contrast" [disabled]="isInvalidForm">
        Send reset email
      </button>
    </div>
  </form>

  <div class="form__container form__container--info title-regular-1">
    <div>
      <span style="padding-right: 10px">Back to</span>
      <a [routerLink]="signInPath" class="form__link">Sign in</a>
      <span style="padding: 0 10px">or</span>
      <a [routerLink]="signUpPath" class="form__link">Sign up</a>
    </div>
  </div>
</section>
