<auth-wrapper
  subtitle='Ohh...'
  title='Forgot password?'
>
  <form class='form' [formGroup]='authForm'>
    <div class='form__control' text-field>
      <input
        type='email'
        placeholder='Email'
        formControlName='email'
        textFieldRef
      />
    </div>

    <div class='form__container'>
      <button type='submit' class='form__btn btn btn--contrast'>Send reset email</button>
    </div>
  </form>

  <div class='form__container form__container--info title-regular-1'>
    <div>
      <span style='padding-right: 10px'>Back to</span>
      <a [href]='signInPath' class='form__link'>Sign in</a>
      <span style='padding: 0 10px'>or</span>
      <a [href]='signUpPath' class='form__link'>Sign up</a>
    </div>
  </div>
</auth-wrapper>
