@use "~src/assets/styles/vars";
@use "~src/assets/styles/mixins";

.auth-layout {
  @include mixins.main-bg-gradient;

  width: 100vw;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
