<div (swipeleft)='onSwipe("left")' (swiperight)='onSwipe("right")' class='slider unselectable'>
  <ng-container *ngFor='let slide of slides; let i = index; trackBy:trackBy'>
    <slide
      (clickSlide)='onSliderClick(slide)'
      *ngIf='activeSlide == i'
      @sliderAnimation
      [image]="slide.image || ''"
      [subtitle]="slide.subtitle || ''"
      [title]="slide.title || ''"
    ></slide>
  </ng-container>

  <div (click)='prevSlide()' [name]='icon.LEFT_ARROW_1' class='slider__control left' icon></div>
  <div (click)='nextSlide()' [name]='icon.RIGHT_ARROW_1' class='slider__control right' icon></div>
</div>
