@use "~src/assets/styles/vars";

:host {
  width: 100%;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  border-radius: vars.$border-radius-md;

  width: 100%;
  height: 400px;

  &__control {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: clamp(50px, 10%, 100px);
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 34px;
    color: rgba(255, 255, 255, 0.5);

    &.left {
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &.right {
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    }
  }

  &:hover {
    .slider__control {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {
  .slider {
    &__control {
      display: none !important;
    }
  }
}
