<div
  class="text-field__wrapper"
  [class.text-field__control--right]="isPasswordFiled"
  [class.text-field__control--left]="isSearchFiled"
>
  <div
    *ngIf="isPasswordFiled"
    class="text-field__control"
    [class.text-field--focus]="hasFocus"
    [class.text-field--error]="isInvalid"
    [class.text-field--valid]="isValid"
    (click)="onHidePassword()"
  >
    <icon *ngIf="isShowPassword" [name]="icons.HIDDEN"></icon>
    <icon *ngIf="!isShowPassword" [name]="icons.SHOW"></icon>
  </div>

  <div *ngIf="isSearchFiled" class="text-field__control" [class.text-field--focus]="hasFocus">
    <icon [name]="icons.SEARCH"></icon>
  </div>

  <ng-content></ng-content>
</div>
<div *ngIf="error" class="text-field__error-msg title-regular-0">{{ error }}</div>
