@use "src/assets/styles/vars";
@use "src/assets/styles/fonts";

.content {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "player info"
    "common common";
  width: 100%;
  height: 100%;
  gap: 0 60px;
  color: var(--light-color);
  overflow-y: scroll;
  padding: 10px;

  &__cards {
    display: grid;
    grid-template-columns: 1fr;

    card {
      margin-right: 20px;
    }
  }

  &__playlist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .playlist {
    &__header {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      gap: 10px;
      margin: 20px 0;

      &-item {
        width: fit-content;
        background: var(--second-color);
        border-radius: vars.$border-radius-sm;
        color: var(--title-color);
        padding: 10px 20px;
        transition: all 300ms ease-in-out;
        cursor: pointer;

        &.active,
        &:not(.active):hover {
          background: var(--contrast-color);
          color: var(--dark-color);
          transition: all 300ms ease-in-out;
        }
      }
    }

    &__body {
      display: grid;
      grid-template-columns: 1fr;

      card {
        margin-right: 20px;
        border: 2px solid transparent;
        border-radius: vars.$border-radius-sm;
        cursor: pointer;

        &.active {
          border: 2px solid var(--contrast-color);
          color: var(--dark-color);
          transition: all 300ms ease-in-out;
        }
      }

      &::ng-deep {
        .card {
          width: 180px;
          aspect-ratio: 3 / 2 !important;
        }
      }
    }
  }
}

.player-container {
  grid-area: player;
  display: grid;
  grid-template-columns: 1fr;
}

.info-container {
  grid-area: info;
}

.common-container {
  grid-area: common;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: vars.$screen-xs) {
  .content {
    gap: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "info" "player" "common";
    gap: 20px;

    .info-container {
      width: 100%;
    }
  }
}
