@use "~src/assets/styles/vars";
@use "~src/assets/styles/fonts";

.content {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "player info"
    "common common";
  width: 100%;
  height: 100%;
  gap: 0 60px;
  color: vars.$light-color;
  overflow-y: scroll;

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;

    &-group {
      text-align: left;
      padding-bottom: 10px;
    }
  }

  &__description {
    color: vars.$descriptions-color;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.player-container {
  grid-area: player;
}

.info-container {
  grid-area: info;
  background: vars.$second-color;
  padding: 20px;
  border-radius: vars.$border-radius-sm;
}

.common-container {
  grid-area: common;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: vars.$screen-xs) {
  .content {
    gap: 20px;

    &__meta {
      font-size: 16px;
    }

    &__title {
      font-size: 160%;
    }
  }
}

@media screen and (max-width: 1279px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "info" "player" "common";
    gap: 20px;

    .info-container {
      width: 100%;
      padding: 10px;
    }

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 0;
      margin-bottom: 0;

      &-group {
        text-align: center;
        padding-bottom: 0;
      }
    }

    &__meta {
      font-size: 16px;
    }

    &__title {
      line-height: 0.8;
    }
  }
}
