<section page-wrapper [sidebar]="false">
  <div class="content">
    <div class="content__container player-container">
      <player class="content__player" [poster]="preview" [src]="currentEpisode.hls || ''"></player>

      <div class="content__playlist playlist">
        <div class="playlist__header">
          <ng-container *ngFor="let season of seasons; let index = index">
            <div
              class="playlist__header-item title-medium-1"
              [class.active]="index === selectedSeason"
              (click)="onSelectSeason(index)"
            >
              Season {{ index + 1 }}
            </div>
          </ng-container>
        </div>

        <div class="playlist__body" scroll-view [loop]="false">
          <ng-container *ngFor="let episode of episodes; let index = index">
            <card
              [selected]="selectedEpisode === index"
              [title]="episode.title"
              [src]="episode.preview || series.background || ''"
              [controls]="false"
              (clickCard)="onSelectEpisode(index)"
            ></card>
          </ng-container>
        </div>
      </div>
    </div>

    <content-cover
      class="content__container info-container title-regular-1"
      [media]="series"
    ></content-cover>

    <div class="content__container common-container">
      <h1 class="content__title title-bold-4">You might like</h1>

      <div class="content__cards" scroll-view>
        <ng-container *ngFor="let card of recommendations">
          <card [title]="card.title" [src]="card.image" [controls]="false"></card>
        </ng-container>
      </div>
    </div>
  </div>
</section>
