@use "~src/assets/styles/vars";
@use "~src/assets/styles/fonts";

.home {
  &__slider {
    aspect-ratio: 21 / 9;
    width: 100%;
    height: clamp(400px, 30%, 550px);
    padding-right: 20px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__title {
    @include fonts.font-bold;

    padding-top: 10px;
    color: vars.$title-color;
    font-size: 30px;
    line-height: 1;
  }
}

@media screen and (max-width: vars.$screen-lg) {
  .home {
    &__slider {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: vars.$screen-sm) {
  .home {
    &__slider {
      padding-top: 0;
      aspect-ratio: 3 / 2;
      height: auto;
      padding-right: 0;
    }

    &__header {
      display: none;
    }

    &__title {
      font-size: 28px;
    }
  }
}
