@use "src/assets/styles/vars";
@use "src/assets/styles/fonts";
@use "src/assets/styles/buttons";

.home {
  &__slider {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;

    card {
      margin-right: 20px;
    }
  }

  &__title {
    @include fonts.font-bold;

    padding-top: 10px;
    color: var(--light-color);
    font-size: 30px;
    line-height: 1;
  }
}

@media screen and (max-width: vars.$screen-sm) {
  .home {
    &__header {
      display: none;
    }

    &__title {
      font-size: 28px;
    }
  }
}
