<section class="home" page-wrapper>
  <div class="home__slider">
    <slider [slides]="slides" [delay]="6000"></slider>
  </div>

  <h1 class="home__title">Special for your</h1>
  <div class="home__cards" scroll-view>
    <ng-container *ngFor="let card of recommendations">
      <card [title]="card.title" [src]="card.image" (clickWatch)="onClickWatch(card)"></card>
    </ng-container>
  </div>

  <h1 class="home__title">New motion pictures</h1>
  <div class="home__cards" scroll-view>
    <ng-container *ngFor="let card of newNotionPictures">
      <card [title]="card.title" [src]="card.image" (clickWatch)="onClickWatch(card)"></card>
    </ng-container>
  </div>

  <ng-container ngProjectAs="sidebar">
    <home-sidebar [user]="currentUser$ | async"></home-sidebar>
  </ng-container>
</section>
