<section class='home' page-wrapper>
  <div [delay]='6000' class='home__slider' slider>
    <ng-container *ngFor='let slide of slides'>
      <slide [slide]='slide' class='slider__slide swiper-lazy'></slide>
    </ng-container>
  </div>

  <h1 class='home__title'>Special for your</h1>
  <div class='home__cards' scroll-view>
    <ng-container *ngFor='let card of recommendations'>
      <card (clickWatch)='onClickWatch(card)' [src]='card.image' [title]='card.title'></card>
    </ng-container>
  </div>

  <h1 class='home__title'>New motion pictures</h1>
  <div class='home__cards' scroll-view>
    <ng-container *ngFor='let card of newNotionPictures'>
      <card (clickWatch)='onClickWatch(card)' [src]='card.image' [title]='card.title'></card>
    </ng-container>
  </div>

  <ng-container ngProjectAs='sidebar'>
    <home-sidebar [user]='currentUser$ | async'></home-sidebar>
  </ng-container>
</section>
