@use "src/assets/styles/vars";
@use "src/assets/styles/buttons";

.home-sidebar {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
  }

  &__userinfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--title-color);

    &:hover {
      transition: color 0.5s;
      color: var(--contrast-color);

      .home-sidebar__avatar {
        transition: border 0.5s;
        border-color: var(--contrast-color);
      }
    }
  }

  &__avatar {
    overflow: hidden;
    width: 54px;
    height: 54px;
    margin-right: 10px;
    border: 2px solid var(--btn-light-color);
    border-radius: vars.$border-radius-sm;
  }

  &__control {
    padding: 8px !important;
  }
}
