@use "~src/assets/styles/vars";
@use "~src/assets/styles/buttons";

.home-sidebar {
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 100%;
  }

  &__userinfo {
    align-items: center;
    color: var(--title-color);
    display: flex;
    justify-content: flex-start;
    text-decoration: none;

    &:hover {
      color: var(--contrast-color);
      transition: color 0.5s;

      .home-sidebar__avatar {
        border-color: var(--contrast-color);
        transition: border 0.5s;
      }
    }
  }

  &__avatar {
    border: 2px solid var(--btn-light-color);
    border-radius: vars.$border-radius-sm;
    height: 54px;
    margin-right: 10px;
    overflow: hidden;
    width: 54px;
  }

  &__control {
    padding: 8px !important;
  }

  .search-form {
  }
}