@use "src/assets/styles/vars";
@use "src/assets/styles/fonts";

.catalog {
  padding: 12px;

  &__scroll-container {
    overflow: scroll;
    width: 100%;
    margin: 24px 0;
  }

  &__cards {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 24px;
    row-gap: 24px;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: vars.$screen-xxl) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media screen and (max-width: vars.$screen-xxl) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (max-width: vars.$screen-xl) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: vars.$screen-xs) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: vars.$screen-lg) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: vars.$screen-md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: vars.$screen-sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: vars.$screen-sm) {
    padding: 0;

    &__scroll-container {
      margin: 24px 0 0 0;
    }
  }
}
