<section [sidebar]="false" page-wrapper>
  <div class="profile">
    <profile-cover></profile-cover>

    <div class="profile__header">
      <div class="profile__avatar">
        <avatar [text]="user?.username || ''" variant="square"></avatar>
      </div>
      <div class="profile__information">
        <div class="profile__information-title title-bold-6">
          {{ user?.username }}

          <ng-container *ngIf="user?.role !== UserRoles.VIEWER">
            <icon [name]="Icons.VERIFIED" class="badge admin-badge title-medium-4"></icon>
          </ng-container>
        </div>
        <div class="profile__information-subtitle title-medium-1">email: {{ user?.email }}</div>
      </div>

      <div class="profile__btn-group">
        <button (click)="onSignOutBtnClick()" class="profile__btn logout title-medium-1">
          <icon [name]="Icons.EXIT"></icon>
        </button>
      </div>
    </div>

    <div class="profile__container">
      <div class="profile__group"></div>
    </div>
  </div>
</section>
