<section>
  <header class="auth-page__title-container">
    <div class="auth-page__subtitle title-bold-2">Almost everything is ready!</div>
    <div class="auth-page__title title-bold-7">Enter the new account password</div>
  </header>

  <form
    class="form"
    [formGroup]="form"
    [class.form--loading]="isLoading$ | async"
    (ngSubmit)="onSubmit()"
  >
    <div class="form__control" [type]="textFieldType.PASSWORD" [error]="passwordError" text-field>
      <input type="password" formControlName="password" placeholder="Password" textFieldRef />
    </div>

    <div class="form__container">
      <button type="submit" class="form__btn btn btn--contrast" [disabled]="isInvalidForm">
        Apply
      </button>
    </div>
  </form>

  <div class="form__container form__container--info title-regular-1">
    <div>
      <span style="padding-right: 10px">Back to</span>
      <a [routerLink]="signInPath" class="form__link">Sign in</a>
      <span style="padding: 0 10px">or</span>
      <a [routerLink]="signUpPath" class="form__link">Sign up</a>
    </div>
  </div>
</section>
