@use "src/assets/styles/vars";
@use "src/assets/styles/buttons";

.catalog-tabs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--title-color);
  gap: 16px;

  &__tab {
    padding-bottom: 4px;
    cursor: pointer;
    transition: all 400ms;
    border-bottom: 2px solid transparent;

    &.active {
      transition: all 400ms;
      color: var(--contrast-color);
      border-bottom: 2px solid var(--contrast-color);
    }

    @media screen and (min-width: vars.$screen-sm) {
      &:not(.active):hover {
        transition: all 400ms;
        color: var(--descriptions-color);
        border-bottom: 2px solid var(--descriptions-color);
      }
    }
  }
}
