<section>
  <header class="auth-page__title-container">
    <div class="auth-page__subtitle title-bold-2">Start for free</div>
    <div class="auth-page__title title-bold-7">Create new account</div>
  </header>

  <form class="form" [formGroup]="authForm">
    <div class="form__control" text-field>
      <input type="email" placeholder="Email" formControlName="email" textFieldRef />
    </div>

    <div class="form__control" text-field>
      <input type="text" placeholder="username" formControlName="username" textFieldRef />
    </div>

    <div class="form__control" [type]="textFieldType.PASSWORD" text-field>
      <input type="password" formControlName="password" placeholder="Password" textFieldRef />
    </div>

    <div class="form__container">
      <button type="submit" class="form__btn btn btn--contrast">Create account</button>
    </div>
  </form>

  <div class="form__container form__container--info title-regular-1">
    <div>
      <span style="padding-right: 10px">Already have an account?</span>
      <a [routerLink]="signInPath" class="form__link">Sign in</a>
    </div>
  </div>
  <div class="form__container title-regular-1" style="margin-top: 4px">
    <a [routerLink]="forgotPasswordPath" class="form__link">Forgot password?</a>
  </div>
</section>
